[submodule "java"]
	path = java
	url = https://github.com/petcomputacaoufrgs/castorJava.git
	branch = main
[submodule "python"]
	path = python
	url = https://github.com/petcomputacaoufrgs/castorPython.git
	branch = main
[submodule "cpp"]
	path = cpp
	url = https://github.com/petcomputacaoufrgs/castorCPP.git
	branch = main
[submodule "c"]
	path = c
	url = https://github.com/petcomputacaoufrgs/castorC.git
	branch = main
