[submodule "java"]
	path = java
	url = https://github.com/petcomputacaoufrgs/castor-java.git
	branch = main
[submodule "python"]
	path = python
	url = https://github.com/petcomputacaoufrgs/castor-python.git
	branch = main
[submodule "cpp"]
	path = cpp
	url = https://github.com/petcomputacaoufrgs/castor-cpp.git
	branch = main
[submodule "c"]
	path = c
	url = https://github.com/petcomputacaoufrgs/castor-c.git
	branch = main
